@using HelpfulHaversack.Web.Models.Dto
@model IEnumerable<TreasuryDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Treasury List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-success disabled"><i class="bi bi-plus-square"></i> Create New Treasury</a>

			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<table class="table table-striped border-black border">
						<thead>
							<tr>
								<th class="fw-bold">
									Name
								</th>
								<th class="fw-bold">
									Number of Items
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach(var treasury in Model)
							{
								<tr>
									<td>
										@treasury.Name
									</td>
									<td>
										@((treasury.Inventory.Count()).ToString())
									</td>
									<td>
										<a class="btn btn-secondary float-end" data-bs-toggle="collapse" data-bs-target="#row-@treasury.TreasuryId">
											<i class="bi bi-chevron-down"></i>
										</a>
									</td>
								</tr>

								<tr class="hiddenRow">
									<td colspan="5">	
										<div class="collapse" id="row-@treasury.TreasuryId">
											<div class="container">
												<div class="row border-bottom border-black">
													<div class="col">
														PP: @treasury.PP
													</div>
													<div class="col">
														GP: @treasury.GP
													</div>
													<div class="col">
														EP: @treasury.EP
													</div>
													<div class="col">
														SP: @treasury.SP
													</div>
													<div class="col">
														CP: @treasury.CP
													</div>													
												</div>
												@foreach(var item in treasury.Inventory)
												{
													<a data-bs-toggle="modal" data-bs-target="#modal-@item.ItemId">
														<div class="row subRow">
															<div class="col">
																- @item.Name&nbsp;x1
															</div>
														</div>
													</a>
													<div class="modal fade" id="modal-@item.ItemId" tabindex="-1">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title fw-bold">@item.Name</h5>
																	<a class="btn btn-sm btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Close</a>
																</div>
																<div class="modal-body">
																	<div>
																		Weight: @((item.Weight).ToString()) lbs.
																	</div>
																	<div>
																		Value: @((item.Value).ToString()) GP
																	</div>
																	<div>
																		Type: @((item.Type).ToString())
																	</div>
																	<div class="border-bottom border-black">
																		Rarity: @((item.Rarity).ToString())
																	</div>
																	<div class="border-bottom border-black">
																	</div>
																	<div>
																		@item.Description
																	</div>
																</div>
																<div class="modal-footer">
																	<a class="btn btn-sm btn-info disabled"><i class="bi bi-send"></i> Move</a>
																	<a class="btn btn-sm btn-warning disabled"><i class="bi bi-tools"></i> Edit</a>
																	<a class="btn btn-sm btn-danger disabled"><i class="bi bi-trash"></i> Delete</a>
																</div>
															</div>
														</div>
													</div>
												}
											</div>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>